main{

    margin-bottom: 100px;
    h1{
        margin-top: 80px;
        color: #00BF62;
        font-weight: bolder;
        font-size: 18px;
        text-align: center;
    }

    a#agendar{
        display: block;
        text-align: center;
    }

    form{
        display: block;
        margin-top: 140px;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        label{
            font-weight: bolder;
            color: #00BF62;
        }

        input, select{
            box-shadow: 0px 2px 1px #C8C8C8;
        }
    }

    button#enviar{
        display: block;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        height: 50px;
        background-color: #05C768;
        color: white;
        border-radius: 10px;
        border-style: none;
        font-weight: bolder;
        box-shadow: 0px 2px 2px #C8C8C8;
        transition: background-color .5s;
    }

    button#enviar:hover{
        background-color: #02ad5b;
    }

    p.cadastro{
       margin-top: 20px;  
       text-align: center;
    }
    

    @media (min-width: 850px){
        form{
            width: 705px;
        }
    }
}