footer{ 
    background-color: #05C768;

    display: flex;

    justify-content: space-between;
    align-items: center;      

    padding-left: 45px;

    height: 370px;

    

     div{
        display: flex;
        flex-direction: column;
        img{
            width: 7rem;
        }

        a{
            color: white;
            text-decoration: none;
            transition: color .5s;
        }

        a:hover{
            color: #01FF85;
        }

        a > span{
            margin-left: 5px;
        }

        i{
            font-size: 30px;
            margin-left: 3px;
        }
    }

    span#direitos{
        position: relative;
        margin: auto;
        color: white;
        text-align: center;
        bottom: -148px;
    }

    ul#listabaixo{
        position: relative;
        display: flex;
        flex-direction: column;
        bottom: -10px;
        
    }

    ul {
        
        margin-right: 20px;

        li{
            color: white;
            margin-top: 12px;
            transition: color .5s;
        }

        li:hover{
            color: #01FF85;
        }

        li> a{
            text-decoration: none;
            color: white;
            font-weight: bolder;
            transition: color .5s;
        }

        li > a:hover{
            color: #01FF85;
        }

        transition: color .5s;
    }

}