main{

    

    margin-top: 155px;


     h1{
        margin-top: 80px;
        color: #00BF62;
        font-weight: bolder;
        font-size: 18px;
        text-align: center;
    }


    /*INÍCIO SOBRE NÓS*/
    div#sobretexto{
        display: grid;
    }

    div#sobrecirurgiao > div.card-body, div#sobredescricao > div.card{
        display: flex;
        justify-content: center; 
        align-items: center;     
        text-align: center;     
        padding: 20px;
    }

    div#conjuntosobre{
        margin-top: 70px;
    }

    div#sobretexto div.card-body{
        background-color: #00FF83;

        p{
            font-weight: bold;
            color: #00522A;
        }
    }

    div#sobretexto > div.card{
        border-radius: 10px 10px 0px 0px;
        border-style: none;
        box-shadow: 2px -1px 4px rgba(0, 82, 42, 0.337254902);
    }

    div#sobretexto > div#sobrecirurgiao{
        width: 25rem;
    }

    div#sobredescricao{
        background-color: #05C768;
        height: 235px;
        padding: 22px 0px 22px 0px;
        margin-top: 15px;
    }

    div#sobredescricao > div.card{
        width: 25rem;
        height: 190px;
        padding: 12px 22px 12px 22px;
        box-shadow: 0px 0px 15px rgb(0, 82, 42);
    }
    
    div#sobredescricao > div.card > p{
        text-align: justify;
        font-weight: bold;
        color: #00522A;
    }

    
    @media(max-width: 989px) {
        div.card{
            margin-left: auto;
            margin-right: auto;
        }
        
    }

    @media(min-width: 990px){
        div#sobretexto{
            grid-template-columns: 428px 1fr;
        }

        div#sobredescricao{
            height: 450px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;

            div.card{
                width: 500px;
                height: 330px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 42px;
            }
        }

        div#sobrecirurgiao{
            width: 400px;
            height: 500px;
            margin-left: 2em;
            margin-right: -25em;
            img.card-img-top{
                border-radius: 30px 0px 0px 0px;
            }
        }

        div.card-body{
            border-radius: 0px 0px 30px 0px;
        }

        div#sobretexto > div#sobrecirurgiao{
            width: 400px;
        }

        

        div#sobretexto > div.card{
            border-radius: 30px 0px 30px 0px;
            border-style: none;
        }

        div#sobretexto img, div.card-body{
            width: 400px;
        }

        p{
            text-align: justify;
        }
    }

    /*FIM SOBRE NÓS*/



    /*INÍCIO EXAMES MÉDICOS E CLÍNICOS*/

    
   

    div.cards{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        img{
            width: 50vw;
            border-radius: 20px 20px 0px 0px;
        }
        .cardtexto{
            display: flex;
            justify-content: center; 
            align-items: center;     
            text-align: center;     
            background-color: #05C768;
            color: white;
            font-weight: bolder;
            width: 50vw;
            height: 10vw;
            font-size: 2.5vw;
            border-radius: 0px 0px 20px 20px ;
        }
    }


    @media (min-width: 800px){

        div#tresprimeiros{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        div#doisultimos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        div#tresprimeiros  div.cards{
            img{
                width: 250px;
            }

            .cardtexto{
                width: 250px;
                height: 50px;
                font-size: 14px;
            }
            
        }

        div#doisultimos  div.cards{
            img{
                width: 380px;
            }

            .cardtexto{
                width: 380px;
                height: 50px;
                font-size: 20px;
            }
            
        }

    }

    @media (min-width: 1000px){

        div#tresprimeiros  div.cards{
            img{
                width: 300px;
            }

            .cardtexto{
                width: 300px;
                height: 60px;
                font-size: 18px;
            }
            
        }

    }


    @media(min-width: 1070px){
         div#doisultimos div.cards{
            img{
                width: 524px;
            }

            .cardtexto{
                width: 524px;
                height: 80px;
                font-size: 20px;
            }
            
        }
    }
    /*FIM EXAMES MÉDICOS E CLÍNICOS*/

    /*INÍCIO AGENDAR*/
    div#agendar{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        div#duasimagens{
           margin-left: auto;
           margin-right: auto;
           img{
            margin-left: 2vw;
            margin-right: auto;
           }
        }
    }
    div#boxagendar{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 93vw;
        height: 72vw;
        color: white;
        font-weight: bolder;
        background-size: 100% 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../componentes/img/clinica.jpg");
        border-radius: 20px;
        overflow: hidden;
        p{
            font-size: 20px;
            font-weight: bold;
        }

        button{
            color: white;
            width: 140px;
            height: 55px;
            border-radius: 20px;
            border-style: none;
            font-weight: bold;
            background-color: #01c466;
            box-shadow: 2px 2px 2px gray;
            transition: background-color .5s;
        }

        button:hover{
            background-color: #00522A;
        }
    }

    div#boxagendar::before{
        content: "";
        position: absolute;
        inset: 0;
        background-color: #7bf5ba7a; /* verde transparente */
        z-index: 1;
    }

    div#boxagendar p,
    div#boxagendar button{
        position: relative;
        z-index: 2;
    }

    div#duasimagens{
        img{
            width: 200px;
            height: 450px;
            box-shadow: 2px 2px 2px gray;
        }
    }


    @media(min-width: 600px){
        div#agendar{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        div#boxagendar{
            width: 500px;
            height: 450px;
        }
    }

    @media(max-width: 999px){
        div#duasimagens{
            display: none;
        }

        div#agendar{
             grid-template-columns: 1fr;
             justify-items: center;
        }
    }

    /*FIM AGENDAR*/

}